.about_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding: 60px 10%;
  background-color: rgba(46, 46, 46, 0.449);
  /* border-top: 3px solid black; */
}

.text_container {
  font-family: Arial, sans-serif;
}

.text_container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #222;
}

.text_container p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

.image_container img {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}


.title {
  font-size: 2.8rem;
  font-weight: 800;
  color: #222;
  margin-bottom: 1rem;
}


.subtitle {
  font-size: 1.2rem;
  color: black !important;
  /* margin-bottom: 1.5rem; */
  font-weight: 600;
  line-height: 0.5;
}

.texts {
  font-size: 1.2rem;
  color: white !important;
  margin-bottom: 1.7rem;
  /* line-height: 0.5; */
}