.about_container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas en desktop */
  gap: 40px;
  align-items: start;
  padding: 60px 10%;
  background-color: rgba(46, 46, 46, 0.449);
}

/* Texto */
.text_container {
  font-family: Arial, sans-serif;
}

.text_container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #222;
  text-align: center;
}

.text_container h3 {
  font-size: 1.4rem;
  color: #222;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  text-indent: 20px;
}

.text_container p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #fffafa;
  margin-bottom: 15px;
  text-indent: 20px;
}

.texts {
  font-size: 1.2rem;
  color: white !important;
  margin-bottom: 1.7rem;
}

.title {
  font-size: 2.8rem;
  font-weight: 800;
  color: #222;
  margin-bottom: 1rem;
}

/* Imagen */
.image_container  {
  width: 100%;
  max-width: 450px;
  height: 50vh;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 12px;
  margin-top: 20px;
  border: 4px solid black;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.image{
  width: 90%;
  height: auto;
}

/* ========================= */
/* 📱 Mobile (≤768px) */
/* ========================= */
@media (max-width: 768px) {
  .about_container {
    grid-template-columns: 1fr; /* Una columna */
    padding: 0 20px;
    gap: 30px;
    text-align: start;
  }

  .text_container h2 {
    font-size: 2rem;
     text-align: center !important;
  }

  .text_container h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 8px;
     /* text-align: center !important; */
  }

  .text_container p,
  .texts {
    font-size: 1rem;
    
  }

  .image_container img {
    display: none;
  }
}

/* ========================= */
/* 📱 Tablet (769px – 1024px) */
/* ========================= */
@media (min-width: 769px) and (max-width: 1024px) {
  .about_container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 50px 8%;
  }

  .text_container h2 {
    font-size: 2.4rem;
  }

  .text_container h3 {
    font-size: 1.3rem;
  }

  .text_container p,
  .texts {
    font-size: 1.1rem;
  }

  .image_container img {
    max-width: 90%;
  }
}
