.main_container_Section{
    background-color:var(--color-grey-blue);
}
.benefitsSection {
  padding: 60px 20px;
  /* background-color: #8dd5f670; */
  text-align: center;
  
}

.line{
  border: 5px solid black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.sectionTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #222;
}

.benefitsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.benefitCard {
  background: #fff;
  padding: 25px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.benefitCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.icon {
  font-size: 2.5rem;
  color: var(--color-accent-blue);
  margin-bottom: 15px;
  text-align: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.description {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
  text-indent: 20px;
}

.hidden {
  opacity: 0;
  transform: translateY(30px);
}

/* Estado visible con animación */
.show {
  animation: fadeInUp 0.8s ease forwards;
}

/* Keyframes de animación */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 769px){
  .sectionTitle {
  font-size: 2rem;
   font-weight: 750;
 }
}