.carousel {
  width: 95%;        /* tamaño pequeño */
  overflow: hidden;
  margin: 25px ;
 
}

.track {
  display: flex;
  gap: 20px;
  animation: scroll 20s linear infinite;
  width: max-content;
}

.image {
  width: 80px;

  height: auto;
  object-fit: contain;
  filter: grayscale(50%);
  transition: 0.3s;
}

.image:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}