.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.accordion-button {
  background: transparent !important;
  box-shadow: none !important;
  font-size: 1.05rem;
  font-weight: 500;
  color: #212529;
  transition: color 0.3s ease;
}

.accordion-button:not(.collapsed) {
  color: #0d6efd;
  background: #f1f5ff !important;
  font-weight: 600;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
