.featuresSection {
  padding: 1.2rem 2rem;
  text-align: center;

  
}

.main_container_Section{
   background-color:var(--color-grey-blue);
   
}


.line{
  border: 5px solid black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.sectionTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
 color: var(--color-logo-blue);
  font-weight: 750;
  
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   margin: 0 auto;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.featureCard {
  background: white;
  text-align: start;
  padding: 2rem;
   border: 4px solid var(--color-accent-blue);
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.icon {
  font-size: 2.5rem;
  color: var(--color-accent-blue);
  margin-bottom: 1rem;
  text-align: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.5rem;
  text-align: center;
}

.description {
  font-size: 0.95rem;
  color: #4b5563;
  text-indent: 20px;
}


.hidden {
  opacity: 0;
  transform: translateY(30px);
}

/* Estado visible con animación */
.show {
  animation: fadeInUp 0.8s ease forwards;
}

 .image {
  border: 4px solid var(--color-accent-blue);
  border-radius: 1rem;
  max-width: 350px;
  width: 100%;
  height: auto;
  margin-top: 30px;
  justify-self: end; 
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(37, 99, 235, 0.4);
}


/* Keyframes de animación */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 769px) {
  .sectionTitle {
  font-size: 2rem;
   font-weight: 750;
 }
}